
<div class="d-flex">

  <div class="d-flex recipe-bar" >
    <div class="recipes w-100">
      <h1 class="text-light">Recipes</h1>
      <ul><% @recipes.each do |recipe|%>
            <li class="list-unstyled">
                <% if recipe.user_id == @recipe.id %>
                  <%= link_to recipe_path(recipe), class: 'recipe-link' do %>
                    <div class="recipe-name">
                      <%= recipe.name %>
                    </div>
                  <% end %>
                <% else %>
                   <%= link_to recipe_path(recipe), class: 'recipe-link' do %>
                    <div class="recipe-name">
                      <%= recipe.name %>
                    </div>
                  <% end %>
                <% end %>


                <%# <% unless recipe.id == @recipe.id%>
                <%# <%= link_to ('<i class="fa-solid fa-trash"></i>').html_safe, recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                 <%# <% end %>
              <%# <%= link_to ('<i class="fa-sharp fa-solid fa-pen"></i>').html_safe, edit_recipe_path(recipe) %>
            </li>
          <% end %>
      </ul>

      <%# <%= simple_form_for @new_recipe do |f|  %>
      <%# <%= f.input :name, label: "Name:" %>
      <%# <%= f.submit "Add Recipe" %>
      <%# <% end %>
    </div>
    </div>


    <div class="container" id="container-recipes">
      <div class="d-flex align-items-center justify-content-center" >
        <h1><%= @recipe.name %></h1>
        <%= link_to ('<i class="fa-sharp fa-solid fa-pen p-1"></i>').html_safe, edit_recipe_path, class: "ps-3"%>
      </div>
      <div class="timer-grid h5">
        <% @recipe.recipe_timers.each do |timer| %>
        <div class="timer-card" data-controller="timers" data-timers-initial-time-value=<%=timer.time_in_minutes%>>
          <%= timer.ingredient %>
          <div class="timer-circle display-5" data-timers-target="button" data-action="click->timers#start">
              <%= timer.time_in_minutes %>
          </div>
          <div class="icons-timer">
            <button class="reset-button fa-solid fa-arrows-rotate p-1"  data-action="click->timers#reset"></button>
            <% if timer.recipe.user_id == current_user.id %>
              <%= link_to ('<i class="fa-solid fa-trash p-2"></i>').html_safe, recipe_timer_path(timer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              <%= link_to ('<i class="fa-sharp fa-solid fa-pen p-1"></i>').html_safe, edit_recipe_timer_path(timer)%>
            <% end %>
         </div>
        </div>
        <% end %>


      </div>
      <div class="create">
      <%= simple_form_for [ @recipe, @new_timer ] do |f|  %>
          <%= f.input :ingredient %>
          <%= f.input :time %>
          <%= f.submit :"Add Timer" %>
      <% end %>
      <div>
    </div>
  </div>
</div>
</div>
