<div class="d-flex">
  <div class="recipe-bar">
  <div class="d-flex gap-5" >
    <div class="recipes">
      <h1>Recipes</h1>
      <ul><% @recipes.each do |recipe|%>
            <li>
                <% if recipe.user_id == @recipe.id %>
               <%= link_to recipe.name, recipe_path(recipe), class: 'recipe-link' %>
                <% else %>
                  <%= link_to recipe.name, recipe_path(recipe), class: 'recipe-link' %>
                <% end %>
                <%# <% <br/> %>

                <% unless recipe.id == @recipe.id%>
                  <%= link_to "delete", recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                <% end %>
                <%= link_to "edit", edit_recipe_path(recipe) %>
            </li>
          <% end %>
      </ul>

      <%= simple_form_for @new_recipe do |f|  %>
      <%= f.input :name %>
      <%= f.submit %>
      <% end %>
    </div>
    </div>
    </div>

    <div class="container">
      <h1>Your Recipe Timers</h1>
      <div class="timer-grid">
        <% @recipe.recipe_timers.each do |timer| %>
          <div class="timer-circle" data-controller="timers">
            <strong><%= timer.ingredient %></strong>
            <button data-timers-target="button" data-action="click->timers#start"><%= timer.time_in_minutes %></button>
            <button> reset </button>
            <%= link_to "delete", recipe_timer_path(timer), class: "recipe-delete", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <%= link_to "edit", edit_recipe_timer_path(timer), class: "edit-delete" %>
          </div>

        <% end %>



      </div>
      <div class="create">
      <%= simple_form_for [ @recipe, @new_timer ] do |f|  %>
          <%= f.input :ingredient %>
          <%= f.input :time %>
          <%= f.submit %>
      <% end %>
      <div>
    </div>
  </div>
</div>
</div>
