<div class="d-flex">
<div>
  <h1>Recipes</h1>
  <ul><% @recipes.each do |recipe|%>
        <li>
            <% if recipe.user_id == @recipe.id %>
             <strong><%= link_to recipe.name, recipe_path(recipe) %></strong>
            <% else %>
              <%= link_to recipe.name, recipe_path(recipe) %>
            <% end %>

            <% unless recipe.id == @recipe.id%>
              <%= link_to "delete", recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
            <%= link_to "edit", edit_recipe_path(recipe) %>
        </li>
      <% end %>
  </ul>

  <%= simple_form_for @new_recipe do |f|  %>
  <%= f.input :name %>
  <%= f.submit %>
  <% end %>
</div>
  <div class="container">
    <div>
      <h1>Your Recipe Timers</h1>
      <% @recipe.recipe_timers.each do |timer| %>
        <div class="ingredient-circle">
          <%= timer.ingredient %>
        </div>
        <div class="timer-circle">
              <%= timer.time %>
          </div>
        </div>
      <% end %>

<div>
<h1>Your Recipe Timers</h1>
<% @recipe.recipe_timers.each do |timer| %>
  <%= timer.time %>
  <%= timer.ingredient %>
  <%= link_to "delete", recipe_timer_path(timer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "edit", edit_recipe_timer_path(timer) %>
<% end %>

<%= simple_form_for [ @recipe, @new_timer ] do |f|  %>
  <%= f.input :ingredient %>
  <%= f.input :time %>
  <%= f.submit %>
  <% end %>


</div>
</div>
