<p><%= link_to 'Back to Recipe', recipe_path(@recipe_timer.recipe), class: 'm-3 btn btn-homepage'%></p>
<div class="p-5">
<h1>Edit the timer for <%= @recipe_timer.ingredient %></h1>
</div>
<div style="display: flex; justify-content: center;">
<%= simple_form_for @recipe_timer do |f| %>
<%= f.input :ingredient, input_html: { style: 'width: 400px' } %>
<%= f.input :time, input_html: { style: 'width: 400px' } %>
  <%= f.submit %>
    </div>
  <% end %>
 <div class="p-5">
<h1>Tailor Time to Perfection: Craft Your Culinary Countdowns!</h1>
</div>
