<h1>Hello world!</h1>

<%= simple_form_for @recipe_timer do |f| %>
<%= f.input :ingredient %>
<%= f.input :time %>
  <%= f.submit %>
  <% end %>

<p><%= link_to 'Back to Recipe', recipe_path(@recipe_timer.recipe), class: 'mt-3 btn btn-light'%></p>
