<h1>Timers</h1>
<div class="search">
    <%= form_with url: timers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a timer"
  %>
 <div class="search-btn m-auto"><%= submit_tag "Search", class: "btn btn-primary" %></div>
<% end %>
</div>

<div data-controller="timers" >
 <% @timers.each do |timer| %>
 <ul><%= timer.ingredient %>
 <% if timer.user_id == current_user.id %>
     <%= link_to "delete", timer_path(timer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
     <%= link_to "edit", edit_timer_path(timer) %>
 <% end %>
 </ul>
<% end %>
<%= simple_form_for @timer do |f| %>
<%= f.input :ingredient %>
<%= f.input :time %>
  <%= f.submit %>
  <% end %>
</div>
