

<h1>Timers</h1>
<div class="search">
    <%= form_with url: timers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a timer"
  %>
 <div class="search-btn m-auto"><%= submit_tag "Search", class: "btn btn-primary rounded" %></div>
<% end %>
</div>

<div class="container">
  <div class="timer-grid">

    <% @timers.each do |timer| %>
      <div class="timer-card" data-controller="timers" data-timers-initial-time-value=<%=timer.time_in_minutes%>>
        <%= timer.ingredient %>
        <div class="timer-circle display-5" data-timers-target="button" data-action="click->timers#start">
          <%= timer.time_in_minutes %>
          <%= audio_tag "alarm.mp3", data: {timers_target: 'audio'} %>
        </div>
        <div>
          <button class="reset-button fa-solid fa-arrows-rotate p-1"  data-action="click->timers#reset"></button>
          <% if timer.user_id == current_user.id %>
            <%= link_to ('<i class="fa-solid fa-trash p-2"></i>').html_safe, timer_path(timer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <%= link_to ('<i class="fa-sharp fa-solid fa-pen p-1"></i>').html_safe, edit_timer_path(timer)%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>



  <div style="display: flex; justify-content: center;">
  <%= simple_form_for @timer do |f| %>
    <%= f.input :ingredient, input_html: { style: 'width: 350px' } %>
    <%= f.input :time, input_html: { style: 'width: 350px' } %>
    <%= f.submit %>
  <% end %>
  </div>

  <%# <div id="defaultParamsExample">
      <div class="values"></div> %>
  </div>
