

<h1>Timers</h1>
<div class="search">
    <%= form_with url: timers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a timer"
  %>
 <div class="search-btn m-auto"><%= submit_tag "Search", class: "btn btn-primary" %></div>
<% end %>
</div>

<div class="container">
  <div class="timer-grid">

    <% @timers.each do |timer| %>
    <div class="timer-card">
      <%= timer.ingredient %>
      <div data-controller="timers" class="timer-circle display-5" data-timers-target="button" data-action="click->timers#start">
          <%= timer.time_in_minutes %>
      </div>
      <i class="fa-solid fa-arrows-rotate"></i>
      <% if timer.user_id == current_user.id %>
        <%= link_to ('<i class="fa-solid fa-trash"></i>').html_safe, timer_path(timer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= link_to ('<i class="fa-sharp fa-solid fa-pen"></i>').html_safe, edit_timer_path(timer)%>
      <% end %>
    </div>
    <% end %>
  </div>

  <%= simple_form_for @timer do |f| %>
    <%= f.input :ingredient %>
    <%= f.input :time %>
    <%= f.submit %>
  <% end %>

  <%# <div id="defaultParamsExample">
      <div class="values"></div> %>
  </div>
